@import "_global";
button{
    position: relative;
    display: inline-block;
    background-color: $color-white;
    border: 1px solid $color-primary;
    padding: 6px 20px;

    font-family: $font-default;
    height:46px;
    @include transition(background-color ease 0.3s);
    text-shadow: none;
    &.large{
        padding: 13px 26px;
    }// 

    .button-text{
        display: block;
        color: $color-primary;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
        text-shadow: none;
        @include transition(color ease 0.3s);
    }//

    &:hover{
        cursor: pointer;
        background-color: $color-gray;
        .button-text{color: $color-white;}
        
    }

    &:active{ background-color: #333; }

    .icon{
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 5px;
        left: 16px;
        svg{
            width: 100%; 
            path{
                @include transition(fill ease 0.3s);
            }
        }// svg

        & + .button-text{
            padding-left: 20px;
        }
    }// icon

    &.square{
        @include border-radius(4px);
    } // 

    &.primary{
        background-color: $color-primary ;
        border:1px solid $color-white;
        .button-text{
            color: $color-white;
        }
        .icon svg path{fill: $color-white;}
        &:hover{
            cursor: pointer;
            background-color: $color-white;
            border:1px solid $color-primary;
            .button-text{color: $color-primary;}
            
        }
        &:active{ background-color: #333; }
    } // btn primary

    &.secondary{
        background-color: $color-white;
        .button-text{
            color: $color-primary;
        }
        .icon svg path{fill: $color-white;}
        &:hover{
            cursor: pointer;
            background-color: #333;
            border:1px solid $color-white;
            .button-text{color: $color-white;}
            
        }
        &:active{ background-color: #333; }
    }// btn secondary


    &.button-link{

        background-color: transparent;

        .button-text{
            color: $color-gray; 
            font-weight: 400;
        } // button text

        &:hover{
            background-color: $color-bright-gray;
            .button-text{color: $color-gray;}
        }
    } // button link


}// regular button
