@import "_global";



// placeholder
input[type=text],
input[type=tel],
input[type=number],
input[type=search],
input[type=password],
input[type=email] {

    display: block;
    height: 2.875rem;
    padding: 0 1rem;
    border: none;
    @include box-sizing(border-box);
    width: 100%;
    font-size: 1rem;
    font-family: $font-default;
    color: $color-gray;



    &:focus {
        outline: 1px solid $color-primary;
        color: $color-primary;
    }

    // focus
    label {
        margin-top: 10px;
        display: block;
    }

    & {


        &:hover {
            cursor: pointer;
        }
    }

    // found label
    label {
        position: relative;
    }

    &[required] {
        position: relative;

        &:after {
            content: '*';
            margin-left: 5px;
        }
    }

    // 


    &:invalid {
        outline: 1px solid $color-salmon;
        color: $color-salmon;

        &+label {
            color: $color-salmon;
        }

        // 
    }

    // invalid


}

// input

textarea {
    display: block;
    height: 7rem;
    padding: 1rem;
    border: 1px solid $color-bright-gray;
    @include box-sizing(border-box);
    width: 100%;
    font-size: 1rem;
    font-family: $font-default;
    color: $color-gray;

    &:focus {
        outline: 1px solid $color-primary;
        color: $color-primary;
    }

    // focus
    label {
        margin-top: 10px;
        display: block;
    }

    & {


        &:hover {
            cursor: pointer;
        }
    }

    // found label
    label {
        position: relative;
    }

    &[required] {
        position: relative;

        &:after {
            content: '*';
            margin-left: 5px;
        }
    }

    // 


    &:invalid {
        outline: 1px solid $color-salmon;
        color: $color-salmon;

        label {
            color: $color-salmon;
        }

        & {
            color: $color-salmon;
        }

        // 
    }

    // invalid

}

// textarea


// checkbox
// should be with a wrapper
input[type=checkbox],
input[type=radio] {

    position: absolute;
    pointer-events: none;
    @include opacity(0);
    border: 1px solid $color-primary;

    &+label {
        user-select: none;
        display: block;
        position: relative;
        padding-left: 30px;

        .label-text {
            display: block;
            postion: relative;
        }

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: -2px;
            border: 1px solid $color-primary;
        }
    }

    // label
    &:checked {

        &+label {
            &:before {
                border-color: $color-primary;
            }

            // 
            .label-text {
                color: $color-primary;

                &:before {
                    content: '';
                    width: 8px;
                    height: 3px;
                    border: 2px solid $color-primary;
                    border-top: transparent;
                    border-right: transparent;
                    position: absolute;
                    top: 5px;
                    left: 6px;
                    @include transform(rotate(-45deg));
                }

                // check mark
            }

            //  // text

        }

        // label

    }

    // checked


}

// input checkbox or radio



//select wrapper
.select-wrapper {

    position: relative;
    @include clearfix();
    @include box-sizing(border-box);

    [role=presentation] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        @include border-radius(20px);
        @include box-sizing(border-box);

        &:after {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 14px;
            right: 20px;
            border: 3px solid $color-gray;
            border-width: 0 0 3px 3px;
            @include transform(rotate(-45deg));
        }
    }

    // role presentation

    select {
        height: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        background: none;
        border: none;
        padding: 0 20px;
        font-family: $font-default;
        font-size: 1rem;
        position: relative;
        z-index: 1;

        &:hover {
            cursor: pointer
        }

        &:active,
        &:focus {
            -webkit-outline: none;
            -moz-outline: none;
            outline: none;
        }

        // no active
        &:invalid {
            color: $color-salmon;

            &+[role=presentation] {
                border-color: $color-salmon;

                &:after {
                    border-color: $color-salmon;
                }
            }

            // present
        }

        //invalid
    }

    // select

    &.square {
        [role=presentation] {
            @include border-radius(4px);
        }

        .btn-switch {
            @include border-radius(4px);
        }

        .option-container .single-option:last-child {
            @include border-radius(0 0 4px 4px);
        }

    }

    // square


    // 
    .option-container {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        @include box-sizing(border-box);
        @include opacity(0);
        visibility: hidden;

        .single-option {
            display: block;
            width: 100%;
            text-align: left;
            font-weight: 500;
            border: 1px solid #ccc;
            @include border-radius(0);
            background-color: $color-white;
            @include transition(border-color ease 0.3s);
            border-width: 1px 1px 0 1px;

            &:hover {
                border-color: $color-gray;
                background-color: $color-gray;
            }

            &:last-child {
                @include border-radius(0 0 20px 20px);
                border-width: 1px;
            }

            .button-text {
                font-weight: 500;
            }

            // button text
        }

        // single button

    }

    //

    .btn-switch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0);

    }

    // btn switch


    &[data-show-options="1"] {
        .option-container {
            top: 40px;
            @include opacity(100);
            visibility: visible;
        }

        // option container

        select:invalid+[role=presentation] {

            border-color: #ccc;

            &:after {
                border-color: $color-gray;
            }
        }

        // invalid

        [role=presentation] {
            @include border-radius(20px 20px 0 0);
            border-color: #ccc;
        }

        &.square {
            [role=presentation] {
                @include border-radius(4px 4px 0 0);
            }
        }
    }

    ///options show



}

//select wrapper

// with a wrapper 
.input-wrapper {

    position: relative;
    @include clearfix();
    margin-bottom: 15px;


    &.value-block-wrapper label {
        font-weight: bold;
    }

    .input-inner,
    .inner {

        position: relative;
        @include flex_display();
        flex-direction: column;
        @include clearfix();

        label {
            color: $color-primary;
            position: relative;
            display: block;
            margin-bottom: 10px;
            font-family: 'Lato-Bold';
        }

        input[type=text],
        input[type=tel],
        input[type=number],
        input[type=email],
        input[type=password],
        input[type=search],
        textarea {
            & {
                color: $color-primary;
                position: relative;
                display: block;
                margin-bottom: 10px;
                background-color: #F8F8F8;
            }

            &::placeholder {
                color: $color-placeholder;
            }

            // label

            &:invalid {
                &~.messages.error {
                    display: block;
                    margin-top: 5px;
                }
            }

            // invalid

        }

        // input


        .messages {
            display: none;
            order: 3;
        }

        .error {
            color: $color-salmon;
            font-size: 0.9rem;
            font-style: italic;
        }

        // error

    }

    // end of input inner 
    &.with-icon {

        input[type=tel],
        input[type=number],
        input[type=email],
        input[type=password],
        input[type=search] {
            &+label {
                position: absolute;
                @include opacity(0);
                visibility: hidden;

            }

            // label

        }

        // input
        .icon {
            top: 11px;
            right: 13px;
            width: 22px;
        }

    }

    // with icon


    // simple wrapper

    // el wrapper
    .input-el-wrapper {
        position: relative;
        @include clearfix();

        .input-el-inner {
            position: relative;
            @include clearfix();
        }

        .input-value {
            display: block;
            padding: 7px 15px;
            background-color: $color-very-light-gray;
            @include border-radius($other-border-radius);
            @include box-sizing(border-box);
            min-height: 2.5rem;
        }

        &.input-value-wrapper {
            .input-el-inner {
                padding: 7px 15px;
                background-color: $color-very-light-gray;
                @include border-radius($other-border-radius);
                @include box-sizing(border-box);
                min-height: 2.5rem;
            }
        }
    }

    // en dof input el wrapper

    .icon {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 24px;
        height: 24px;
        pointer-events: none;

        @include flex_display();
        align-items: center;

        svg {
            margin: 0 auto;
        }
    }

    // end of icon for datepicker


}

// end of input wrapper