.order-type-dropdown{
    max-width: 140px;
    padding: 18px;
    box-sizing: border-box;
    display:grid;
    grid-row-gap: 8px;

    .order-type-dropdown-item{
        .input_verify{
            width: 24px;
            height: 24px;
        }
        .label-text{
            font-size: 14px;
            font-weight: 400;
            color:#828282;
        }
    }
}
.role-dropdown{
    padding: 18px;
    box-sizing: border-box;
    display:grid;
    grid-row-gap: 8px;
    .role-dropdown-item{
        .input_verify{
            width: 24px;
            height: 24px;
        }
        .label-text{
            font-size: 14px;
            font-weight: 400;
            color:#828282;
        }
    }
}
.status-dropdown{
    padding: 18px;
    box-sizing: border-box;
    display:grid;
    grid-row-gap: 8px;

    .status-dropdown-item{
        .input_verify{
            width: 24px;
            height: 24px;
        }
        .label-text{
            font-size: 14px;
            font-weight: 400;
            color:#828282;
        }
    }
}
