@import '_global';

.main-sale-person {
    margin: 36px 16px 56px 16px;
    padding: 10px 20px;
    background-color: $color-white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    .sale-person-content {
        .sale-person-wrap {
            .sale-person-wrap-title {
                font-size: 12px;
                font-weight: 400;
                font-family: 'Lato-Regular';
                color: $color-placeholder;
            }

            .sale-person-wrap-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(66, 104, 119, 0.2);
                padding-bottom: 8px;

                .sale-person-wrap-inner-name {
                    font-size: 14px;
                    font-family: 'Lato-Bold';
                    font-weight: 700;
                    color: $color-primary;
                    margin: 0;
                }

                .sale-person-wrap-inner-logout {
                    display: flex;
                    align-items: center;

                    .logout-icon {
                        width: 24px;
                        height: 24px;
                    }

                    .logout-decs {
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'Lato-Regular';
                        color: $color-primary;
                        margin-left: 10px;
                    }
                }
            }

        }
    }

    .sale-person-contact {
        margin-top: 24px;
        padding-right: 40px;

        .contact-content {
            margin-bottom: 27px;

            .contact-wrap {
                display: flex;

                .contact-wrap-title {
                    margin-right: 10px;
                    letter-spacing: 0.02em;
                    font-size: 14px;
                    font-family: 'Lato-Bold';
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                .contact-wrap-link {}
            }

            .contact-inner {
                .contact-title {
                    font-size: 20px;
                    font-family: 'Lato-Bold';
                    font-weight: 700;
                    margin-bottom: 8px;
                    color : $color-gray;
                }

                .contact-decs {
                    .contact-text {
                        font-size: 14px;

                        margin: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .sale-person-event {
        margin-top: 32px;
        padding-right: 40px;

        .event-wrap-title {
            margin-bottom: 12px;
            font-size: 14px;
            font-family: 'Lato-Bold';
            font-weight: 700;
            letter-spacing: 0.02em;
        }

        .event-content {
            .event-content-inner {
                margin-bottom: 16px;

                .event-content-inner-title {
                    margin-bottom: 2px;
                    font-size: 14px;
                    font-family: 'Lato-Regular';
                    font-weight: 400;
                    color: $color-placeholder;
                }

                .event-content-decs {
                    font-size: 14px;
                    font-family: 'Lato-Regular';
                    font-weight: 400;
                    margin: 0;
                    color: $color-gray;
                }
            }
        }
    }

    .sale-person-home {
        margin-top: 30px;
        padding-right: 40px;

        .home-wrap {
            margin-bottom: 14px;
            display: flex;

            .home-wrap-title {
                letter-spacing: .02em;
                font-family: 'Lato-Bold';
                font-weight: 700;
                margin-bottom: 0;
            }

            .home-wrap-icon {
                margin-left: 18px;
            }

            .home-wrap-link {
                color: $color-primary;
                display: none;
            }
        }

        .home-content {
            .home-content-inner {
                margin-bottom: 16px;

                .home-content-inner-title {
                    margin-bottom: 2px;
                    font-size: 14px;
                    font-family: 'Lato-Regular';
                    font-weight: 400;
                    color: $color-placeholder;
                }

                .home-content-inner-decs {
                    font-size: 14px;
                    font-family: 'Lato-Regular';
                    font-weight: 400;
                    margin: 0;
                    color: $color-gray;
                }
            }
        }
    }

    .sale-person-note {
        margin-top: 33px;

        .note-wrap {
            margin-bottom: 13px;
            display: flex;
            align-items: center;

            .note-wrap-link {
                margin-right: 9px;
                text-decoration: none;
            }

            .note-wrap-text {
                color: $color-primary;
            }
        }

        .note-content {
            .note-content-text {
                font-size: 12px;
                margin: 0;
                font-family: 'Lato-Bold';
                font-weight: 400;
                color: #828282;
                line-height: 2;
            }

            .note-use {
                .note-content-link {
                    .note-content-icon {
                        margin-bottom: -10px;
                    }

                    &:after {
                        height: 0;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 425px) and (max-width: 768px) {
    .main-sale-person {
        margin: 48px 40px;
        padding: 20px 30px;

        .sale-person-content {
            .sale-person-wrap {
                .sale-person-wrap-title {
                    font-size: 14px;
                }

                .sale-person-wrap-inner {
                    padding-bottom: 11px;
                }
            }
        }

        .sale-person-contact {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-content {
                margin-bottom: 30px;

                .contact-wrap {
                    margin-bottom: 15px;

                    .contact-wrap-title {
                        margin-bottom: 0;
                    }
                }

            }
        }

        .sale-person-event {
            margin-top: 0;

            .event-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .sale-person-home {
            margin-top: 16px;

            .home-wrap {
                margin-bottom: 19px;
                display: flex;

                .home-wrap-title {
                    font-size: 14px;
                    font-weight: 700;
                }

                .home-wrap-icon {
                    margin-right: 10px;
                }

                .home-wrap-link {
                    color: #426877;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .home-content {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
            }
        }

        .sale-person-note {
            margin-top: 30px;

            .note-wrap {
                margin-bottom: 14px;

                .note-wrap-link {
                    margin-right: 9px;
                    text-decoration: none;
                }
            }

            .note-content {
                .note-use {
                    display: flex;
                    align-items: flex-start;

                    .note-content-link {
                        .note-content-icon {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 768px) {

    .main-sale-person {
        box-sizing: border-box;
        padding: 20px 102px 30px 102px;
        max-width: 1200px;
        margin: auto;
        top: 150px;
        background-color: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

        .sale-person-content {
            .sale-person-wrap {
                .sale-person-wrap-title {
                    font-size: 14px;
                    color: #BDBDBD;
                }

                .sale-person-wrap-inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(66, 104, 119, 0.2);
                    padding-bottom: 8px;

                    .sale-person-wrap-inner-name {
                        font-size: 16px;
                        color: #426877;
                    }

                    .sale-person-wrap-inner-logout {
                        display: flex;
                        align-items: center;

                        .logout-decs {
                            color: #426877;
                            margin-left: 10px;
                        }
                    }
                }

            }

            .sale-person-contact {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .contact-content {
                    .contact-wrap {
                        margin-bottom: 15px;
                        display: flex;

                        .contact-wrap-title {
                            margin-right: 20px;
                            color: #C59A4C;
                            line-height: 19px;
                            letter-spacing: 0.02em;
                        }

                        .contact-wrap-link {
                            .contact-wrap-icon {}
                        }
                    }

                    .contact-inner {
                        .contact-title {
                            margin-bottom: 16px;
                        }

                        .contact-decs {
                            line-height: 150%;

                            .contact-text {}
                        }
                    }
                }
            }

            .sale-person-event {
                margin-top: 48px;

                .event-wrap-title {
                    margin-bottom: 12px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #C59A4C;
                }

                .event-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .event-content-inner {
                        .event-content-inner-title {
                            margin-bottom: 2px;
                        }

                        .event-content-inner-decs {}
                    }
                }
            }

            .sale-person-home {
                margin-top: 48px;

                .home-wrap {
                    margin-bottom: 12px;
                    display: flex;

                    .home-wrap-title {
                        line-height: 19px;
                        letter-spacing: .02em;
                        color: #c59a4c;
                    }

                    .home-wrap-icon {
                        margin-left: 18px;
                        margin-right: 10px;
                    }

                    .home-wrap-link {
                        color: #426877;
                    }
                }

                .home-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .home-content-inner {
                        .home-content-inner-title {
                            margin-bottom: 2px;
                        }

                        .home-content-inner-decs {}
                    }
                }
            }

            .sale-person-note {
                margin-top: 55px;

                .note-wrap {
                    margin-bottom: 13px;

                    .note-wrap-link {
                        margin-right: 9px;
                        text-decoration: none;

                        .note-wrap-icon {}
                    }

                    .note-wrap-text {}
                }

                .note-content {
                    .note-content-text {
                        font-size: 14px;
                        color: #828282;
                    }

                    .note-use {
                        display: flex;
                        align-items: flex-start;

                        .note-content-link {
                            .note-content-icon {}
                        }
                    }
                }
            }
        }
    }
}