.header {
    .header-inner {
        max-width: 1200px;
        margin: auto;
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 120px;
            .alt-logo {
                .alt-logo-link {
                    display: flex;
                }

                .alt-logo-icon {
                    width: 140px;
                    height: 17px;
                }
            }
        }
    }
}