@import '_global';

.main-member-list {

    .member-list-select {
        display: flex;
        justify-content: space-between;

        .member-list-select-inner {
            display: flex;
            align-items: center;

            .fillter-content {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-column-gap: 68px;
                opacity: 0;
                width: 0;
                height: 0;

                .fillter-content-item {
                    .fillter-content-item-type {
                        font-size: 14px;
                        font-weight: 400;
                        color: #828282;
                    }

                    .fillter-content-item-all {
                        font-size: 14px;
                        font-weight: 700;
                        color: $color-primary;
                    }
                }
            }

            .fillter-wrap {
                display: flex;
                align-items: center;

                .fillter-wrap-icon {}

                .fillter-wrap-text {
                    color: $color-primary;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 10px;
                }
            }

        }

        .member-list-select-inner {
            .member-list-select-inner-text {
                margin: 0 16px;
            }
        }

        .expanse {
            flex-direction: row-reverse;
        }
    }

    .member-list-table {
        .member-list-table-heading {
            opacity: 0;
            margin: 0;
            height: 0;
        }

        .member-list-table-content {
            padding: 0;

            .table-content-item {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: 1fr 1fr 1fr;
                border: 1px solid #F2F2F2;
                border-radius: 8px;
                padding: 20px;
                box-sizing: border-box;

                .table-content-item-inner-name {
                    grid-column: 1/3;
                    grid-row: 1/2;

                    .table-content-item-detail {
                        display: flex;
                        align-items: center;

                        .detail-icon {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }

                        .detail-name {
                            font-size: 14px;
                            font-weight: 700;
                            color: $color-primary;
                            margin: 0;
                        }
                    }
                }

                .table-content-item-inner-type {
                    grid-column: 1/3;
                    grid-row: 2/3;
                    margin-left: 30px;

                    .item-type {
                        font-size: 10px;
                        font-weight: 400;
                        color: $color-placeholder;
                    }

                    .detail-type {
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-gray;
                        margin: 0;
                    }
                }

                .table-content-item-inner-order {
                    grid-column: 3/5;
                    grid-row: 1/2;
                    margin-left: 10px;

                    .detail-order {
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-gray;
                        margin: 0;
                    }
                }

                .table-content-item-inner-role {
                    grid-column: 3/5;
                    grid-row: 2/3;
                    margin-left: 30px;

                    .item-type {
                        font-size: 10px;
                        font-weight: 400;
                        color: $color-placeholder;
                    }

                    .detail-type {
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-gray;
                        margin: 0;
                    }
                }

                .table-content-item-inner-status {
                    grid-column: 1/3;
                    grid-row: 3/3;
                    margin-left: 30px;

                    .item-type {
                        font-size: 10px;
                        font-weight: 400;
                        color: $color-placeholder;
                    }

                    .detail-type {
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-gray;
                        margin: 0;
                        text-align: center;
                    }
                }

                .table-content-item-inner-ment {
                    grid-column: 3/5;
                    grid-row: 3/3;
                    margin-left: 30px;

                    .item-type {
                        font-size: 10px;
                        font-weight: 400;
                        color: $color-placeholder;
                    }

                    .detail-type {
                        font-size: 12px;
                        font-weight: 400;
                        color: $color-gray;
                        margin: 0;
                    }
                }

                .table-content-item-inner-balance {
                    grid-column: 5/6;
                    grid-row: 3/3;
                    text-align: end;

                    .detail-price {
                        color: $color-secondary;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                .table-content-item-inner-action {
                    grid-column: 5/6;
                    grid-row: 1/2;
                    text-align: end;

                    .detail-action {
                        .detail-action-icon1 {
                            margin-right: 6px;
                        }
                    }
                }

                .table-item-none {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 425px) {
    .main-member-list {
        .member-list-select {
            .member-list-select-inner {
                .fillter-content {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    grid-column-gap: 44px;
    
                    .fillter-content-item {
                        display: grid;
                        grid-template-columns:auto auto auto;
                        grid-column-gap: 10px;
                        align-items: center;
                        .fillter-content-item-type {
                        }
    
                        .fillter-content-item-all {
                        }
                    }
                }
    
                .fillter-wrap {
                    opacity: 0;
    
                    .fillter-wrap-icon {}
    
                    .fillter-wrap-text {
                        color: $color-primary;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0 10px;
                    }
                }
    
            }
    
            .member-list-select-inner {
                .member-list-select-inner-text {
                    color: $color-primary;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 10px;
                }
            }
        }

        .member-list-table {
            .member-list-table-heading {}

            .member-list-table-content {
                .table-content-item {
                    grid-template-columns: repeat(5, auto);
                    grid-column-gap: 18px;
                    grid-template-rows: 1fr 1fr;

                    .table-content-item-inner-name {
                        grid-column: 1/2;
                        grid-row: 1/2;

                        .item-name {}

                        .table-content-item-detail {
                            display: flex;
                            align-items: center;

                            .detail-icon {
                                margin-right: 22px;
                            }

                            .detail-name {}
                        }
                    }

                    .table-content-item-inner-type {
                        grid-column: 1/2;
                        grid-row: 2/3;
                        margin-left: 40px;

                        .item-type {
                            font-size: 12px;
                        }

                        .detail-type {
                            font-size: 14px;
                        }
                    }

                    .table-content-item-inner-order {
                        grid-column: 2/3;
                        grid-row: 1/2;
                        margin-left: 0;

                        .detail-order {
                            font-size: 14px;
                        }
                    }

                    .table-content-item-inner-role {
                        grid-column: 2/3;
                        grid-row: 2/3;
                        margin-left: 0;

                        .item-type {
                            font-size: 12px;
                        }

                        .detail-type {
                            font-size: 14px;
                        }
                    }

                    .table-content-item-inner-status {
                        grid-column: 3/4;
                        grid-row: 2/3;

                        .item-type {
                            font-size: 12px;
                        }

                        .detail-type {
                            font-size: 14px;
                        }
                    }

                    .table-content-item-inner-ment {
                        grid-column: 4/5;
                        grid-row: 2/3;

                        .item-type {
                            font-size: 12px;
                        }

                        .detail-type {
                            font-size: 14px;
                        }
                    }

                    .table-content-item-inner-balance {
                        grid-column: 5/6;
                        grid-row: 2/3;
                        text-align: end;

                        .detail-price {}
                    }

                    .table-content-item-inner-action {
                        grid-column: 5/6;
                        grid-row: 1/2;
                        text-align: end;

                        .detail-action {
                            .detail-action-icon1 {
                                margin-right: 12px;
                            }
                        }
                    }

                    .table-item-none {
                        display: none;
                    }

                    .general-style {}
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-member-list {
        .member-list-select {
            .member-list-select-inner {
                .fillter-content{
                    grid-column-gap: 68px;
    
                    .fillter-content-item {
                        .fillter-content-item-type {
                            font-size: 16px;
                        }
    
                        .fillter-content-item-all {
                            font-size: 16px;
                        }
                    }
                }
    
                .fillter-wrap {
                    .fillter-wrap-text {
                    }
                }
    
            }
    
            .member-list-select-inner {
                .member-list-select-inner-text {
                    font-size: 16px;
                }
            }

        }
        .member-list-table {
            .member-list-table-heading {
                opacity: 1;
                display: grid;
                grid-template-columns: repeat(18, 1fr);
                list-style-type: none;
                height: auto;
                margin-top: 31px;
                padding: 24px 32px 24px 60px;
                background-color: #F6F7F8;
                font-size: 14px;
                font-weight: 700;
                color: #828282;

                .heading-name {
                    grid-column: 1/4;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 6px;
                    align-items: center;
                }

                .heading-order-type {
                    grid-column: 4/6;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 6px;
                    align-items: center;
                }

                .heading-order {
                    grid-column: 6/8;

                }

                .heading-role {
                    grid-column: 8/10;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 6px;
                    align-items: center;
                }

                .heading-status {
                    grid-column: 10/12;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 6px;
                    align-items: center;
                }

                .heading-ment {
                    grid-column: 12/15;
                }

                .heading-balance {
                    grid-column: 15/17;
                    text-align: end;
                }

                .heading-action {
                    grid-column: 17/19;
                    text-align: end;
                }
            }

            .member-list-table-content {
                padding: 0;
                margin: 0;

                .table-content-item {
                    display: grid;
                    grid-template-columns: repeat(18, 1fr);
                    grid-template-rows: 1fr;
                    border: none;
                    border-radius: 0;
                    border-bottom: 1px solid #F2F2F2;
                    padding: 24px 20px;
                    box-sizing: border-box;
                    grid-column-gap: 0;

                    .table-content-item-inner-name {
                        grid-column: 1/4;
                        grid-row: 1/2;

                        .table-content-item-detail {
                            .detail-icon {
                                margin-right: 16px;
                            }

                            .detail-name {
                                font-size: 16px;
                            }
                        }
                    }

                    .table-content-item-inner-type {
                        grid-column: 4/6;
                        grid-row: 1/2;
                        margin-left: 30px;

                        .item-type {}

                        .detail-type {
                            font-size: 16px;
                        }
                    }

                    .table-content-item-inner-order {
                        grid-column: 6/8;
                        grid-row: 1/2;
                        margin-left: 10px;

                        .detail-order {
                            font-size: 16px;
                            margin-left: 16px;
                        }
                    }

                    .table-content-item-inner-role {
                        grid-column: 8/10;
                        grid-row: 1/2;

                        .detail-type {
                            font-size: 16px;
                            margin-left: 18px;
                        }
                    }

                    .table-content-item-inner-status {
                        grid-column: 10/12;
                        grid-row: 1/2;

                        .detail-type {
                            font-size: 14px;
                            margin-left: -16px;
                        }
                    }

                    .table-content-item-inner-ment {
                        grid-column: 12/15;
                        grid-row: 1/2;

                        .detail-type {
                            font-size: 16px;
                            margin-left: -23px;
                        }
                    }

                    .table-content-item-inner-balance {
                        grid-column: 15/17;
                        grid-row: 1/2;

                        .detail-price {
                            font-size: 16px;
                            font-weight: 400;
                            color: $color-gray;
                            margin: 0 21px;
                        }

                    }

                    .table-content-item-inner-action {
                        grid-column: 17/19;
                        grid-row: 1/2;

                        .detail-action {
                            .detail-action-icon1 {
                                margin-right: 13px;
                            }
                        }
                    }

                    .table-item-none {
                        display: none;
                    }

                    .general-style {
                        display: none;
                    }
                }
            }
        }
    }
}