* {
    margin: 0;
    font-family: sans-serif;
}

.wellmed {
    .wellmed-header {
        border-bottom: 2px solid #F1F1F1;

        .wellmed-header-wrapper {
            height: 60px;
            display: flex;
            justify-content: space-between;

            .wellmed-header-inner {
                display: flex;

                .wellmed-header-link {
                    margin-right: 40px;

                    .wellmed-header-logo {
                        width: 58px;
                        height: 100%;
                        background-color: red;
                    }
                }

                .wellmed-header-app {
                    .wellmed-optum {
                        .svg-optum {
                            width: 58px;
                            height: 100%;
                            background-color: red;
                        }

                        .svg-wellmed {
                            width: 58px;
                            height: 100%;
                            background-color: red;
                        }
                    }
                }
            }

            .wellmed-header-btn {
                background-color: #ffffff;
                border: 2px solid #F1F1F1;
                border-bottom: none;
                border-top: none;
                margin-right: 40px;
                padding: 20px;
                display: flex;
                align-items: center;

                .wellmed-header-text {
                    color: #505050;
                    font-size: 14px;
                }
            }
        }
    }

    .wellmed-main {
        .wellmed-main-wrapper {
            .wellmed-main-inner {
                display: flex;
                padding: 15px 30px;

                .wellmed-main-menu {
                    width: 250px;

                    .wellmed-menu-list {
                        list-style: none;
                        padding: 0;
                        cursor: pointer;

                        .wellmed-menu-item {
                            font-size: 14px;
                            font-weight: 500;
                            padding: 15px;
                            color: #505050;
                            font-family: "Ubuntu", sans-serif;
                        }
                    }
                }

                .reports-content {
                    .reports-title {
                        margin-bottom: 60px;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: "Ubuntu", sans-serif;
                        color:#505050;
                        margin-top: 15px;
                    }

                    .reports-table {
                        width: 1000px;
                        border: 2px solid #F1F1F1;
                        border-radius: 4px;

                        #table-header {
                            padding: 20px 30px;

                            #table-header-item {
                                font-size: 14px;
                                font-weight: 700;
                                color:#505050;
                                font-family: "Ubuntu", sans-serif;
                            }
                        }

                        .reports-table-list {
                            list-style: none;
                            padding: 0;
                            display: grid;
                            grid-template-columns: 2fr 3fr 1fr;
                            border-bottom: 2px solid #F1F1F1;
                            padding: 10px 30px;
                            .reports-table-item {
                                font-size: 14px;
                                font-weight: 400;
                                color:#505050;

                                .reports-table-link {
                                    color: #2867F7;
                                }
                            }
                        }

                        #table-end {
                            height: 20px;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}