* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.login {
    background-image: url(../img/login.svg);
    .login-wrap {
        .login-wrap-inner {
            margin-bottom: 64px;
            padding-left: 16px;
            padding-top: 53px;

            .login-wrap-inner-back {
                display: flex;
                align-items: center;
                color: #ffffff;

                .login-wrap-inner-back-link {
                    margin-right: 12px;
                    .login-wrap-inner-back-icon{
                        width: 20px;
                        height: 20px;
                    } 
                }

                .login-wrap-inner-back-text {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .form-login {
            margin: 0 auto;
            padding-top:50px;
            padding-bottom: 30px;
            background-color: #ffffff;
            width: 343px;
            display: flex;
            justify-content: center;
            text-align: center;

            .form-login-content {
                width: 295px;

                .form-login-content-link {
                    .form-login-content-logo {
                        width: 178px;
                        height: 44px;
                    }
                }

                .form-login-content-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #426877;
                    margin-top: 24px;
                    margin-bottom: 42px;
                }

                .form-login-group {
                    .form-login-group-item {
                        text-align: left;

                        .form-login-group-lb {
                            color: #426877;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                        }

                        .form-login-group-input {
                            width: 100%;
                            height: 40px;
                            background-color: #F8F8F8;
                            border: none;
                            font-size: 14px;
                            line-height: 19px;
                            padding-left: 20px;
                            font-weight: 400;
                            margin-top: 10px;
                            margin-bottom: 24px;
                            color: #4F4F4F;
                        }
                        ::placeholder{
                            color: #BDBDBD;
                            font-size: 14px;    
                            line-height: 19px; 
                            font-weight: 400;
                        }
                    }

                    .form-login-group-submit {
                        width: 100%;
                        height: 40px;
                        background-color: #426877;
                        border: none;
                        color: #ffffff;
                        font-size: 14px;
                        line-height: 19px;
                        font-weight: 700;
                        margin-top: 8px;
                        margin-bottom: 22px;
                    }

                    .form-login-group-forgot {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #0D2436;
                        margin-bottom: 60px;

                    }

                    .form-login-group-account {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        
                        .form-login-group-link {
                            margin-left: 10px;
                            color: #C59A4C;
                            font-weight: 700;
                        }
                    }

                }
            }
        }
    }
}
// @media only screen and (min-width: 375px){

// }
@media only screen and (min-width: 768px){  
    .login {
        background-image: url(../img/login.svg);
        padding-top: 42px;
        padding-left: 120px;
        
        .login-wrap {
            
            .login-wrap-inner {
                margin-bottom: 90px;
    
                .login-wrap-inner-back {
                    display: flex;
                    align-items: center;
                    color: #ffffff;
    
                    .login-wrap-inner-back-link {
                        margin-right: 20px;
                    }
    
                    .login-wrap-inner-back-text {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
    
            .form-login {
                margin: 0 auto;
                padding-top: 63px;
                padding-bottom: 40px;
                box-sizing: border-box;
                background-color: #ffffff;
                width: 513px;
                display: flex;
                justify-content: center;
                text-align: center;
    
                .form-login-content {
                    width: 386px;
    
                    .form-login-content-link {
                        .form-login-content-logo {}
                    }
    
                    .form-login-content-title {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 48px;
                        color: #426877;
                        margin-top: 24px;
                        margin-bottom: 48px;
                    }
    
                    .form-login-group {
                        .form-login-group-item {
                            text-align: left;
    
                            .form-login-group-lb {
                                color: #426877;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                            }
    
                            .form-login-group-input {
                                width: 100%;
                                height: 44px;
                                background-color: #F8F8F8;
                                border: none;
                                font-size: 14px;
                                line-height: 140%;
                                padding-left: 30px;
                                box-sizing: border-box;
                                margin-top: 10px;
                                margin-bottom: 22px;
                                color: #4F4F4F;
                            }
                            ::placeholder{
                                color: #BDBDBD;
                                font-size: 14px;    
                                line-height: 140%; 
                            }
                        }
    
                        .form-login-group-submit {
                            width: 100%;
                            height: 46px;
                            background-color: #426877;
                            border: none;
                            color: #ffffff;
                            font-size: 16px;
                            line-height: 140%;
                            font-style: normal;
                            font-weight: 600;
                            margin-top: 15px;
                            margin-bottom: 24px;
                        }
    
                        .form-login-group-forgot {
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            color: #0D2436;
                            margin-bottom: 84px;
    
                        }
    
                        .form-login-group-account {
                            font-size: 16px;
                            line-height: 19px;
                            
                            .form-login-group-link {
                                margin-left: 10px;
                                color: #C59A4C;
                                font-style: normal;
                                font-weight: 600;
                            }
                        }
    
                    }
                }
            }
        }
    }
 }