@import '_global';

// .page-header {
//     position: relative;
//     width: 1440px;
//     background: #FFFFFF;

//     .header-content {
//         height: 80px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .alt-logo {
//             width: 234px;
//             height: 22px;
//         }

//         .content-btn {
//             width: 258px;
//             height: 46px;
//             background-color: #ffffff;
//             border: 1px solid #426877;
//             color: #426877;
//             font-size: 16px;
//         }
//     }
// }

// .page-header::after {
//     content: "";
//     position: absolute;
//     left: 0%;
//     right: 0%;
//     top: 80px;
//     height: 300px;
//     background-color: #426877;
//     border-radius: 4px 4px 0px 0px;
// }

// .main-sale-person {
//     box-sizing: border-box;
//     padding: 20px 102px 30px 102px;
//     width: 1200px;
//     position: absolute;
//     top: 150px;
//     background-color: #ffffff;
//     box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

//     .sale-person-content {
//         height: 693px;

//         .sale-person-wrap {
//             .sale-person-wrap-title {
//                 font-size: 14px;
//                 color: #BDBDBD;
//             }

//             .sale-person-wrap-inner {
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 border-bottom: 1px solid rgba(66, 104, 119, 0.2);
//                 padding-bottom: 8px;

//                 .sale-person-wrap-inner-name {
//                     font-size: 16px;
//                     color: #426877;
//                 }

//                 .sale-person-wrap-inner-logout {
//                     display: flex;
//                     align-items: center;

//                     .logout-decs {
//                         color: #426877;
//                         margin-left: 10px;
//                     }
//                 }
//             }

//         }

//         .sale-person-contact {
//             margin-top: 20px;
//             display: grid;
//             grid-template-columns: 1fr 1fr;

//             .contact-content {
//                 .contact-wrap {
//                     margin-bottom: 15px;
//                     display: flex;

//                     .contact-wrap-title {
//                         margin-right: 20px;
//                         color: #C59A4C;
//                         line-height: 19px;
//                         letter-spacing: 0.02em;
//                     }

//                     .contact-wrap-link {
//                         .contact-wrap-icon {}
//                     }
//                 }

//                 .contact-inner {
//                     .contact-title {
//                         margin-bottom: 16px;
//                     }

//                     .contact-decs {
//                         line-height: 150%;

//                         .contact-text {}
//                     }
//                 }
//             }
//         }

//         .sale-person-event {
//             margin-top: 48px;

//             .event-wrap-title {
//                 margin-bottom: 12px;
//                 line-height: 19px;
//                 letter-spacing: 0.02em;
//                 color: #C59A4C;
//             }

//             .event-content {
//                 display: grid;
//                 grid-template-columns: 1fr 1fr 1fr 1fr;

//                 .event-content-inner {
//                     .event-content-inner-title {
//                         margin-bottom: 2px;
//                     }

//                     .event-content-inner-decs {}
//                 }
//             }
//         }

//         .sale-person-home {
//             margin-top: 48px;

//             .home-wrap {
//                 margin-bottom: 12px;
//                 display: flex;

//                 .home-wrap-title {
//                     line-height: 19px;
//                     letter-spacing: .02em;
//                     color: #c59a4c;
//                 }

//                 .home-wrap-icon {
//                     margin-left: 18px;
//                     margin-right: 10px;
//                 }

//                 .home-wrap-link {
//                     color: #426877;
//                 }
//             }

//             .home-content {
//                 display: grid;
//                 grid-template-columns: 1fr 1fr 1fr 1fr;

//                 .home-content-inner {
//                     .home-content-inner-title {
//                         margin-bottom: 2px;
//                     }

//                     .home-content-inner-decs {}
//                 }
//             }
//         }

//         .sale-person-note {
//             margin-top: 55px;

//             .note-wrap {
//                 margin-bottom: 13px;

//                 .note-wrap-link {
//                     margin-right: 9px;
//                     text-decoration: none;

//                     .note-wrap-icon {}
//                 }

//                 .note-wrap-text {}
//             }

//             .note-content {
//                 .note-content-text {
//                     font-size: 14px;
//                     color: #828282;
//                 }

//                 .note-use {
//                     display: flex;
//                     align-items: flex-start;

//                     .note-content-link {
//                         .note-content-icon {}
//                     }
//                 }
//             }
//         }
//     }
// }

.update-primary-contact {
    width: 793px;
    height: 554px;
    padding: 28px 40px 36px 40px;

    .update-primary-contact-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(66, 104, 119, 0.2);
        width: 713px;

        .update-primary-contact-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #C59A4C;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        .update-primary-contact-link {
            .update-primary-contact-link-icon {}
        }
    }

    .form-update-group {
        .form-update-group-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 17px;
            margin-top: 8px;

            .form-update-group-item {
                margin-top: 16px;

                .form-update-group-lb {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #426877;
                }

                .form-update-group-input {
                    width: 100%;
                    height: 44px;
                    border: none;
                    background: #F8F8F8;
                    padding: 12px 20px;
                    color: #4F4F4F;
                    font-size: 14px;
                    line-height: 140%;
                    margin-top: 6px;
                }

                ::placeholder {
                    color: #BDBDBD;
                    font-size: 14px;
                    line-height: 140%;
                }
            }

            #form-update-group-item-wrap {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-column-gap: 16px;
            }
        }

    }

    .form-update-group-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 36px;

        .form-update-group-submit {
            width: 161px;
            height: 46px;
            background-color: #426877;
            color: #ffffff;
            border: none;
            font-size: 16px;
        }
    }
}

.email-to-store {
    width: 793px;
    height: 634px;
    padding: 28px 40px 44px 40px;

    .email-to-store-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(66, 104, 119, 0.2);
        width: 713px;

        .email-to-store-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #C59A4C;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    .form-email-group {
        margin-top: 8px;

        .form-email-group-list {

            .form-email-group-item {
                margin-top: 16px;

                .form-email-group-lb {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #426877;
                }

                .form-email-group-input {
                    width: 100%;
                    height: 44px;
                    border: none;
                    background: #F8F8F8;
                    padding: 12px 20px;
                    color: #4F4F4F;
                    font-size: 14px;
                    line-height: 140%;
                    margin-top: 6px;
                }

                ::placeholder {
                    color: #BDBDBD;
                    font-size: 14px;
                    line-height: 140%;
                }

                #form-email-group-message {
                    height: 207px;
                }
            }
        }

        .form-email-group-wrap {
            display: flex;
            justify-content: flex-end;
            margin-top: 36px;

            .form-email-group-submit {
                width: 161px;
                height: 46px;
                background-color: #426877;
                color: #ffffff;
                border: none;
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 375px) {
    .container {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //min-width: 375px;
        margin: 0 auto;
    }

    .page-header {
        background: #ffffff;
        padding: 10px 16px;

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .alt-logo {
                .alt-logo-link{
                    display: flex;
                }
                .alt-logo-icon {
                    width: 140px;
                    height: 17px;
                }
            }

            .content-btn {
                width: 163px;
                height: 40px;
                background-color: #ffffff;
                border: 1px solid #426877;
                color: #426877;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    .page-header::after {
        content: "";
        position: absolute;
        left: 0%;
        right: 0%;
        top: 60px;
        height: 130px;
        background-color: #426877;
        border-radius: 4px 4px 0px 0px;
    }

    .main-sale-person {
        position: absolute;
        margin: 36px 16px 0px 16px;
        padding: 10px 20px 30px 20px;
        background-color: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

        .sale-person-content {
            .sale-person-wrap {
                .sale-person-wrap-title {
                    font-size: 12px;
                    font-weight: 400;
                    color: #BDBDBD;
                }

                .sale-person-wrap-inner {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(66, 104, 119, 0.2);
                    padding-bottom: 8px;

                    .sale-person-wrap-inner-name {
                        font-size: 14px;
                        font-weight: 700;
                        color: #426877;
                    }

                    .sale-person-wrap-inner-logout {
                        display: flex;
                        align-items: center;

                        .logout-icon {
                            width: 24px;
                            height: 24px;
                        }

                        .logout-decs {
                            font-size: 14px;
                            font-weight: 400;
                            color: #426877;
                            margin-left: 10px;
                        }
                    }
                }

            }
        }

        .sale-person-contact {
            margin-top: 24px;

            .contact-content {
                margin-bottom: 27px;

                .contact-wrap {
                    margin-bottom: 12px;
                    display: flex;

                    .contact-wrap-title {
                        margin-right: 10px;
                        color: #C59A4C;
                        letter-spacing: 0.02em;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    .contact-wrap-link {
                        .contact-wrap-icon {}
                    }
                }

                .contact-inner {
                    .contact-title {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 8px;
                    }

                    .contact-decs {
                        .contact-text {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .sale-person-event {
            margin-top: 5px;

            .event-wrap-title {
                margin-bottom: 12px;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.02em;
                color: #C59A4C;
            }

            .event-content {
                .event-content-inner {
                    margin-bottom: 16px;

                    .event-content-inner-title {
                        margin-bottom: 2px;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .event-content-inner-decs {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }

        .sale-person-home {
            margin-top: 19px;

            .home-wrap {
                margin-bottom: 14px;
                display: flex;

                .home-wrap-title {
                    letter-spacing: .02em;
                    color: #c59a4c;
                }

                .home-wrap-icon {
                    margin-left: 18px;
                }

                .home-wrap-link {
                    color: #426877;
                    display: none;
                }
            }

            .home-content {
                .home-content-inner {
                    margin-bottom: 16px;

                    .home-content-inner-title {
                        margin-bottom: 2px;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .home-content-inner-decs {
                        font-size: 14px;
                        font-weight: 400;
                        color: #333333;
                    }
                }
            }
        }

        .sale-person-note {
            margin-top: 19px;

            .note-wrap {
                margin-bottom: 13px;
                display: flex;
                align-items: center;

                .note-wrap-link {
                    margin-right: 9px;
                    text-decoration: none;

                    .note-wrap-icon {}
                }

                .note-wrap-text {}
            }

            .note-content {
                .note-content-text {
                    font-size: 12px;
                    font-weight:400;
                    color: #828282;
                    line-height:18px;
                }

                .note-use {

                    .note-content-link {
                        .note-content-icon {
                            margin-bottom: -10px;
                        }
                    }
                }
            }
        }
    }
}