
.update-primary-contact {
    width: 793px;
    height: 554px;
    padding: 28px 40px 36px 40px;

    .update-primary-contact-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(66, 104, 119, 0.2);
        width: 713px;

        .update-primary-contact-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #C59A4C;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        .update-primary-contact-link {
            .update-primary-contact-link-icon {}
        }
    }

    .form-update-group {
        .form-update-group-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 17px;
            margin-top: 8px;

            .form-update-group-item {
                margin-top: 16px;

                .form-update-group-lb {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #426877;
                }

                .form-update-group-input {
                    width: 100%;
                    height: 44px;
                    border: none;
                    background: #F8F8F8;
                    padding: 12px 20px;
                    color: #4F4F4F;
                    font-size: 14px;
                    line-height: 140%;
                    margin-top: 6px;
                }

                ::placeholder {
                    color: #BDBDBD;
                    font-size: 14px;
                    line-height: 140%;
                }
            }

            #form-update-group-item-wrap {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-column-gap: 16px;
            }
        }

    }

    .form-update-group-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 36px;

        .form-update-group-submit {
            width: 161px;
            height: 46px;
            background-color: #426877;
            color: #ffffff;
            border: none;
            font-size: 16px;
        }
    }
}
